<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post In Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="head">Here Is Your Post In Details.</h2>
    <p class="id">Post Id: <%= find.id %></p>
    <div class="post">
        <h2 class="user">@<%= find.username %></h2>
        <h4 class="content"><%= find.content %></h4>
    </div>
</body>
</html>